{% extends "testtask/base.html" %}
{% block body %}
       {% for post in posts %}
<div class="row">
    <div class="col"></div>
    <div class="col">
        <h3 class="text-center">{{ post.title }}</h3>
        <p class="text-center">{{ post.created }}</p>
        <p class="text-center">{{ post.body }}</p>
        <p class="text-center">Автор - {{ post.author }}</p>

        {% if post.title in read %}
        <p class="text-center">Прочитано</p>
        {%  else%}
         <form method="post">{% csrf_token %}
             <input name="read" hidden type="text" value="{{ post.pk }}">
             <input type="submit" class="btn btn-secondary btn-sm btn-block" value="Пометить как прочтанное">
         </form>
        {% endif %}
        <br>
    </div>
    <div class="col"></div>
</div>
{% endfor %}
{% endblock %}