
{% extends "testtask/base.html" %}
{% block body %}

<h3 class="text-center">
    Блог пользователя {{ author }}
    {% if posts.0 == None %}
    <p>У этого пользователя еще нет постов</p>
    {% endif %}
</h3>
<div class="row">
    <div class="col"></div>
    <div class="col">
        {% if user.get_username == author %}
            <a class="text-center" href="/newpost">Новая запись</a>
        {% endif %}

       {% for post in posts %}
            <h3 class="text-center">{{ post.title }}</h3>
            <p class="text-center">{{ post.created }}</p>
            <p class="text-center">{{ post.body }}</p>
        {% endfor %}
    </div>
    <div class="col"></div>
    </div>


{% endblock %}